.container {
  width: 500px;
  margin: 20px auto;
}

.box {
  border: 4px groove green;
  background-color: #e0ffe0;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  line-height: 50px;
  height: 70px;
  font-weight: bold;
}

.box2 {
  border: 4px double #ff6600;
  background-color: #fff0cc;
}
